In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
#import data
data = pd.read_csv('Seasons_Stats.csv')
data

,No,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [3]:
data.duplicated().any()

False

In [4]:
#subset year 2017
data_2017 = data[data["Year"] == 2017]
data_2017

,No,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24096,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
24097,24097,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
24098,24098,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
24099,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
24100,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [5]:
# drop duplicate
data_2017 = data_2017.drop_duplicates(subset=['Player'],keep='last').reset_index()
data_2017

,index,No,Year,Player,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,24096,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,24099,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
2,24100,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,24101,24101,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,24102,24102,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
482,24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
483,24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
484,24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
485,24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [6]:
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 54 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   486 non-null    int64
 1   No      486 non-null    int64
 2   Year    486 non-null    float64
 3   Player  486 non-null    object
 4   Pos     486 non-null    object
 5   Age     486 non-null    float64
 6   Tm      486 non-null    object
 7   G       486 non-null    float64
 8   GS      486 non-null    float64
 9   MP      486 non-null    float64
 10  PER     486 non-null    float64
 11  TS%     484 non-null    float64
 12  3PAr    484 non-null    float64
 13  FTr     484 non-null    float64
 14  ORB%    486 non-null    float64
 15  DRB%    486 non-null    float64
 16  TRB%    486 non-null    float64
 17  AST%    486 non-null    float64
 18  STL%    486 non-null    float64
 19  BLK%    486 non-null    float64
 20  TOV%    484 non-null    float64
 21  USG%    486 non-null    float64
 22  blanl   0 non-null      float64
 23  OWS     486 non-null    float64
 24  DWS     486 non-null    float64
 25  WS      486 non-null    float64
 26  WS/48   486 non-null    float64
 27  blank2  0 non-null      float64
 28  OBPM    486 non-null    float64
 29  DBPM    486 non-null    float64
 30  BPM     486 non-null    float64
 31  VORP    486 non-null    float64
 32  FG      486 non-null    float64
 33  FGA     486 non-null    float64
 34  FG%     484 non-null    float64
 35  3P      486 non-null    float64
 36  3PA     486 non-null    float64
 37  3P%     447 non-null    float64
 38  2P      486 non-null    float64
 39  2PA     486 non-null    float64
 40  2P%     482 non-null    float64
 41  eFG%    484 non-null    float64
 42  FT      486 non-null    float64
 43  FTA     486 non-null    float64
 44  FT%     468 non-null    float64
 45  ORB     486 non-null    float64
 46  DRB     486 non-null    float64
 47  TRB     486 non-null    float64
 48  AST     486 non-null    float64
 49  STL     486 non-null    float64
 50  BLK     486 non-null    float64
 51  TOV     486 non-null    float64
 52  PF      486 non-null    float64
 53  PTS     486 non-null    float64
dtypes: float64(49), int64(2), object(3)
memory usage: 205.2+ KB

In [7]:
data_2017.isnull().sum()

index       0
No          0
Year        0
Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
PER         0
TS%         2
3PAr        2
FTr         2
ORB%        0
DRB%        0
TRB%        0
AST%        0
STL%        0
BLK%        0
TOV%        2
USG%        0
blanl     486
OWS         0
DWS         0
WS          0
WS/48       0
blank2    486
OBPM        0
DBPM        0
BPM         0
VORP        0
FG          0
FGA         0
FG%         2
3P          0
3PA         0
3P%        39
2P          0
2PA         0
2P%         4
eFG%        2
FT          0
FTA         0
FT%        18
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
dtype: int64

In [9]:
data_2017 = data_2017.drop(['blanl', 'blank2','No','index'], axis = 1)
data_2017

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
482,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
483,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
484,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
485,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [10]:
data_2017.describe()

,Year,Age,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,486.0,486.000000,486.000000,486.000000,486.000000,486.000000,484.000000,484.000000,484.000000,486.000000,...,468.000000,486.000000,486.000000,486.000000,486.000000,486.000000,486.000000,486.000000,486.000000,486.000000
mean,2017.0,26.405350,50.218107,24.008230,1149.958848,12.933128,0.526907,0.315694,0.271583,5.068724,...,0.743278,48.349794,158.481481,206.831276,108.364198,36.720165,22.555556,63.615226,94.399177,503.327160
std,0.0,4.345194,26.362066,28.575166,857.782164,6.208059,0.095229,0.212676,0.196341,4.304149,...,0.140157,56.947408,147.465120,197.603853,133.745169,32.863352,28.590749,62.187861,67.485723,486.964731
min,2017.0,19.000000,1.000000,0.000000,1.000000,-35.300000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.0,23.000000,25.000000,0.000000,371.750000,9.800000,0.501750,0.155000,0.161750,1.900000,...,0.681250,9.000000,40.000000,49.000000,19.000000,9.000000,4.000000,15.000000,30.000000,114.000000
50%,2017.0,26.000000,60.000000,8.500000,1089.500000,12.850000,0.539000,0.325000,0.238000,3.500000,...,0.765500,28.000000,129.500000,159.500000,63.500000,30.000000,13.000000,48.000000,94.500000,399.000000
75%,2017.0,29.000000,74.000000,44.500000,1822.250000,15.975000,0.578250,0.458000,0.339000,7.700000,...,0.833000,62.750000,221.000000,291.750000,142.000000,53.750000,31.000000,91.750000,144.000000,751.000000
max,2017.0,40.000000,82.000000,82.000000,3048.000000,31.500000,0.799000,1.000000,2.000000,26.300000,...,1.000000,345.000000,817.000000,1116.000000,906.000000,157.000000,214.000000,464.000000,263.000000,2558.000000

In [11]:
data_2017_Age = data_2017[['Player','Age','Tm']]
data_2017_Age_Young = data_2017_Age.groupby(['Tm']).min().reset_index()
data_2017_Age_Old = data_2017_Age.groupby(['Tm']).max().reset_index()

No. 1

In [12]:
data_2017_Age_Young

     Tm            Player   Age
0   ATL   DeAndre' Bembry  22.0
1   BOS        Al Horford  20.0
2   BRK  Andrew Nicholson  21.0
3   CHI    Anthony Morrow  21.0
4   CHO    Aaron Harrison  21.0
5   CLE      Andrew Bogut  21.0
6   DAL      A.J. Hammons  21.0
7   DEN        Alonzo Gee  19.0
8   DET    Andre Drummond  20.0
9   GSW  Anderson Varejao  20.0
10  HOU       Bobby Brown  20.0
11  IND      Aaron Brooks  20.0
12  LAC     Alan Anderson  19.0
13  LAL    Brandon Ingram  19.0
14  MEM   Andrew Harrison  20.0
15  MIA      Dion Waiters  20.0
16  MIL       Gary Payton  19.0
17  MIN     Adreian Payne  20.0
18  NOP     Alexis Ajinca  20.0
19  NYK   Carmelo Anthony  21.0
20  OKC      Alex Abrines  20.0
21  ORL      Aaron Gordon  20.0
22  PHI    Alex Poythress  21.0
23  PHO     Alan Williams  19.0
24  POR   Al-Farouq Aminu  21.0
25  SAC  Anthony Tolliver  19.0
26  SAS       Bryn Forbes  20.0
27  TOR     Bruno Caboclo  21.0
28  UTA        Alec Burks  21.0
29  WAS  Bojan Bogdanovic  21.0

In [13]:
data_2017_Age_Old

     Tm                   Player   Age
0   ATL             Tim Hardaway  36.0
1   BOS             Tyler Zeller  31.0
2   BRK            Trevor Booker  36.0
3   CHI              Robin Lopez  35.0
4   CHO           Treveon Graham  31.0
5   CLE         Tristan Thompson  38.0
6   DAL             Yogi Ferrell  38.0
7   DEN          Wilson Chandler  36.0
8   DET            Tobias Harris  34.0
9   GSW            Zaza Pachulia  36.0
10  HOU            Troy Williams  34.0
11  IND           Thaddeus Young  32.0
12  LAC           Wesley Johnson  39.0
13  LAL              Tyler Ennis  37.0
14  MEM            Zach Randolph  40.0
15  MIA              Willie Reed  36.0
16  MIL               Tony Snell  39.0
17  MIN              Zach LaVine  34.0
18  NOP              Tim Frazier  33.0
19  NYK        Willy Hernangomez  32.0
20  OKC           Victor Oladipo  36.0
21  ORL            Terrence Ross  32.0
22  PHI  Timothe Luwawu-Cabarrot  32.0
23  PHO           Tyson Chandler  34.0
24  POR           Tim Quarterman  28.0
25  SAC      Willie Cauley-Stein  31.0
26  SAS              Tony Parker  39.0
27  TOR              Serge Ibaka  31.0
28  UTA               Trey Lyles  35.0
29  WAS               Trey Burke  32.0

no 2

In [14]:
data_2017_MP = data_2017[['Player','MP','Pos']]
data_2017_MP

                Player      MP Pos
0         Alex Abrines  1055.0  SG
1           Quincy Acy   510.0  PF
2         Steven Adams  2389.0   C
3        Arron Afflalo  1580.0  SG
4        Alexis Ajinca   584.0   C
..                 ...     ...  ..
481        Cody Zeller  1725.0  PF
482       Tyler Zeller   525.0   C
483  Stephen Zimmerman   108.0   C
484        Paul Zipser   843.0  SF
485        Ivica Zubac   609.0   C

[486 rows x 3 columns]

In [15]:
data_2017_MP.groupby(['Pos']).max().reset_index()

  Pos           Player      MP
0   C    Zaza Pachulia  3030.0
1  PF    Zach Randolph  2803.0
2  PG     Yogi Ferrell  2947.0
3  SF  Wilson Chandler  3048.0
4  SG      Zach LaVine  2796.0

No 3

In [16]:
data_2017_tm= data_2017[['Tm','TRB%','AST%','BLK%']]
data_2017_tm

      Tm  TRB%  AST%  BLK%
0    OKC   4.5   5.5   0.6
1    BRK  11.1   5.4   2.2
2    OKC  14.2   5.4   2.6
3    SAC   4.6   7.4   0.4
4    NOP  16.0   3.1   3.1
..   ...   ...   ...   ...
481  CHO  12.9   9.1   3.0
482  BOS  13.2  12.2   3.3
483  ORL  17.6   5.3   3.7
484  CHI   8.0   6.1   1.5
485  LAL  14.3   8.1   4.4

[486 rows x 4 columns]

In [17]:
data_2017_tm = data_2017_tm.groupby(['Tm']).mean().reset_index()
data_2017_tm

     Tm       TRB%       AST%      BLK%
0   ATL   9.627778  14.083333  1.522222
1   BOS  10.360000  14.573333  1.493333
2   BRK   9.894444  13.616667  1.444444
3   CHI   9.343750  13.037500  1.068750
4   CHO   9.617647  13.888235  1.247059
5   CLE   9.668421  11.073684  2.568421
6   DAL  10.852632  13.563158  1.663158
7   DEN  10.829412  15.723529  1.882353
8   DET  10.326667  13.200000  1.173333
9   GSW  11.475000  13.943750  2.675000
10  HOU   9.520000  12.493333  1.506667
11  IND  10.156250  13.425000  1.525000
12  LAC  10.586667  12.033333  2.053333
13  LAL  10.287500  12.656250  1.525000
14  MEM   9.750000  13.081250  1.831250
15  MIA  10.057143  12.728571  1.600000
16  MIL  10.841176  12.641176  2.741176
17  MIN   9.680000  12.273333  1.533333
18  NOP   8.970588  13.058824  1.505882
19  NYK  10.880000  12.326667  1.860000
20  OKC  10.053333  11.973333  1.886667
21  ORL   9.894444  12.644444  1.183333
22  PHI  10.818750  14.750000  1.743750
23  PHO   9.841176  11.029412  1.458824
24  POR  10.357143  12.778571  1.707143
25  SAC   8.850000  13.912500  1.337500
26  SAS   9.687500  14.900000  1.906250
27  TOR  10.862500  10.700000  2.025000
28  UTA  10.386667  12.673333  1.726667
29  WAS  12.735294  11.811765  1.100000

In [18]:
data_2017_tm_TRB = data_2017_tm[['Tm','TRB%']].sort_values(by='TRB%',ascending=False).head(1)
data_2017_tm_TRB

     Tm       TRB%
29  WAS  12.735294

In [19]:
data_2017_tm_AST = data_2017_tm[['Tm','AST%']].sort_values(by='AST%',ascending=False).head(1)
data_2017_tm_AST

    Tm       AST%
7  DEN  15.723529

In [20]:
data_2017_tm_BLK = data_2017_tm[['Tm','BLK%']].sort_values(by='BLK%',ascending=False).head(1)
data_2017_tm_BLK

     Tm      BLK%
16  MIL  2.741176

No 4

In [21]:
data_2017

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
482,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
483,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
484,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
485,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [25]:
player_sum = data_2017.drop(['Year','Pos','Age','Tm'], axis = 1)
player_sum = player_sum.sum(axis=1)
player_sum

0      3040.852
1      1709.973
2      7868.938
3      4142.197
4      2060.292
         ...
481    5604.598
482    1786.304
483     421.871
484    2334.092
485    2346.899
Length: 486, dtype: float64

In [26]:
data_2017['player_sum'] = player_sum
data_2017

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_sum
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0,3040.852
1,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0,1709.973
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0,7868.938
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0,4142.197
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0,2060.292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0,5604.598
482,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0,1786.304
483,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0,421.871
484,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0,2334.092
485,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,2346.899

In [27]:
data_2017.sort_values(by='player_sum', ascending = False).head(5)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_sum
457,2017.0,Russell Westbrook,PG,28.0,OKC,81.0,81.0,2802.0,30.6,0.554,...,137.0,727.0,864.0,840.0,133.0,31.0,438.0,190.0,2558.0,16235.859
171,2017.0,James Harden,PG,27.0,HOU,81.0,81.0,2947.0,27.3,0.613,...,95.0,564.0,659.0,906.0,120.0,37.0,464.0,215.0,2356.0,14801.315
432,2017.0,Karl-Anthony Towns,C,21.0,MIN,82.0,82.0,3030.0,26.0,0.618,...,296.0,711.0,1007.0,220.0,57.0,103.0,212.0,241.0,2061.0,13633.393
99,2017.0,Anthony Davis,C,23.0,NOP,75.0,75.0,2708.0,27.5,0.579,...,174.0,712.0,886.0,157.0,94.0,167.0,181.0,168.0,2099.0,13432.233
219,2017.0,LeBron James,SF,32.0,CLE,74.0,74.0,2794.0,27.0,0.619,...,97.0,543.0,640.0,646.0,92.0,44.0,303.0,134.0,1954.0,12652.679

No 5

In [28]:
data_2017_tm_best = data_2017[['Tm','player_sum']]
data_2017_tm_best = data_2017_tm_best.groupby(['Tm']).mean().reset_index()
data_2017_tm_best.sort_values(by='player_sum', ascending = False).head(5)

     Tm   player_sum
15  MIA  4696.180429
12  LAC  4522.065467
1   BOS  4521.719400
17  MIN  4497.158800
24  POR  4487.523714